nav
  a(href='#') <i id="menubtn" class="fa fa-bars"></i>
  #share
    a(href='https://github.com/andresattler' target='_blank') <i class="fa fa-github"></i>
    a(href='https://twitter.com/SattlerAndre' target='_blank') <i class="fa fa-twitter"></i>
    a(href='https://www.linkedin.com/in/andr%C3%A9-sattler-188217116' target='_blank') <i class="fa fa-linkedin"></i>
#menu.centered
  a(href='#') Home
  a(href='#') Who I am
  a(href='#') My Projects
  a(href='#') Contact me    
#view
  #wrapper
    #home.section.centered
      #profile
      h3 Hi I am
      h1 ANDRÈ SATTLER
      a.scroll(href="#") Scroll <br/><i class="fa fa-angle-double-down" aria-hidden="true"></i>    

    #about.section.centered
      p Hi there 
      p I'm a german-based Frontend Developer,
      p currently studying at 
      a(href="https://www.freecodecamp.com/andresattler") FreeCodeCamp
      p I love <b>new experiences</b>, to <b>figure out</b> how things work and to <b>get challenged</b>. 
      a.scroll(href="#") <i class="fa fa-angle-double-down" aria-hidden="true"></i>  

    #projects.section.centered
      h1 My Projects
      #project-gallery
        a.project(href='#')
          h2 A Tributepage for George Lucas
          #tribute.centered
            #gl
        .project
          h2 More will follow
            #more.centered <i class="fa fa-plus-circle"></i>
      a.scroll(href="#") <i class="fa fa-angle-double-down" aria-hidden="true"></i>

    #contact.section.centered
      h1 Contact me
      a(href='mailto:andresattler.webdev@gmail.com') andresattler.webdev@gmail.com   