doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Andre Sattler Portfolio
    link(rel="stylesheet" href="style.css")
  body
    #viewport
      header
        #nav-icon
          span
          span
          span
      nav#menu
        a(href="#") Projects
        a(href="#") Blog
        a(href="#") About
        a(href="#") Contact
      section#intro
        canvas#profile
        h1 Hy I am André Sattler
        p#test
        a.link(href="#projects") View my projects
      section#projects
        .project
          img(src="projects/frontent-certificate.png")
          p.title FreeCodeCamp Frontend Certificate
        .project
          img(src="projects/tic-tac-toe.png")
          p.title Tic Tac Toe Game
        .project
          img(src="projects/pomodore.png")
          p.title Pomodore Clock
        .project
          img(src="projects/calculator.png")
          p.title Javascript Calculator
        .project
          img(src="projects/twitch-viewer.png")
          p.title Twitch Status Viewer
        .project
          img(src="projects/wikipedia-viewer.png")
          p.title Wikipedia Viewer
        .project
          img(src="projects/weather.png")
          p.title Weather App
        .project
          img(src="projects/joke-generator.png")
          p.title Chuck Norris Joke Generator
        .project
          img(src="projects/old-portfolio.png")
          p.title My first portfolio
        .project
          img(src="projects/tribute-page.png")
          p.title My first FreeCodeCamp project
      #more
        h1 Do you want to know more about me?
        #infos
          a.link(href="#") About Me
          a.link(href="#") Visit my Blog
          a.link(href="#") Contact Me
      footer
      script(src="three.min.js")
      script(src="script.js")
